name: commit
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24.0"

      - run: go mod download
      - run: go mod verify
      - run: go install tool

      - run: go test -v ./...

      - uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64.5

  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for goreleaser to get git history

      - uses: actions/setup-go@v5
        with:
          go-version: "1.24.0"

      - name: Set up QEMU for cross-compilation of Docker images
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Fix Segmentation fault or QEMU - https://github.com/docker/buildx/issues/1170
        run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes -c yes

      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      - run: go mod download
      - run: go install tool
      - run: go generate ./...

      - name: Check for modified files
        run: |
          if ! git diff --quiet; then
            echo "Error: Running 'go generate' modified files. Please commit these changes:"
            git diff
            exit 1
          fi

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        id: goreleaser
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --skip=publish --clean --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Test build Docker image (stage-bin)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          push: false
          platforms: |
            linux/arm64
            linux/amd64
          target: stage-bin
          tags: test-build-bin
          build-args: |
            VERSION=${{ fromJSON(steps.goreleaser.outputs.metadata).version }}
            COMMIT=${{ fromJSON(steps.goreleaser.outputs.metadata).commit }}
            COMMIT_DATE=${{ fromJSON(steps.goreleaser.outputs.metadata).date }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Test build Docker image (stage-release)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          push: false
          platforms: |
            linux/arm64
            linux/amd64
          target: stage-release
          tags: test-build-release
          build-args: |
            VERSION=${{ fromJSON(steps.goreleaser.outputs.metadata).version }}
            COMMIT=${{ fromJSON(steps.goreleaser.outputs.metadata).commit }}
            COMMIT_DATE=${{ fromJSON(steps.goreleaser.outputs.metadata).date }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
